<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <div class="main">

    <fieldset class="contactNumber">
      <legend>Contact Numbers</legend>
      <p>
        Office: (012) 345-2395
      </p>
      <p>
        Cell: +27(0) 83 367 9659 - Jimmy
      </p>
      <p>
        Cell: +27(0) 82 792 6942 - Likotsi
      </p>
      <p>
        Cell: +27(0) 76 893 0859 - Josiah</p>
      <p>
        Fax: 086 601 3145
      </p>
    </fieldset>
    <fieldset class="email">
      <legend>E-Mails</legend>
      <p>
        <a href="info@tsalano.co.za">info@tsalano.co.za</a>
      </p>
      <p>
        <a href="mailto:JimmyD@Tsalano.co.za">JimmyD@Tsalano.co.za</a></p>
      <p>
        <a href="mailto:LikotsiM@Tsalano.co.za">LikotsiM@Tsalano.co.za</a>
      </p>
      <p>
        <a href="mailto:JosiahS@Tsalano.co.za">JosiahS@Tsalano.co.za</a></p>
      <p> Website:<a href="http://www.tsalano.co.za/"> www.Tsalano.co.za</a>
      </p>
    </fieldset>
    <fieldset class="address">
      <legend>Address</legend>
      <p>
        8 Victoria Link
      </p>
      <p>
        First Floor
      </p>
      <p>
        Route 21 Corporate Park
      </p>
      <p>
        Irene, Centurion
      </p>
      <p>
        PRETORIA
      </p>
      <p></p>
      <p>
        P.O. Box 13145
      </p>
      <p>
        The Tramshed
      </p>
      <p>
        PRETORIA
      </p>
      <p>
        0126
      </p>
    </fieldset>

  </div>

</body>