<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>

  <table class="mainTable" style="table-layout:fixed;width:98%;height:100%;margin: 1%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr style="background-color:#ECE9D8;">
        <td style="width: 25%; display: none;"></td>
        <td style="width: 6px; display: none;"></td>
        <td style="width:100%;"></td>
      </tr>
      <tr>
        <td colspan="3">
          <div style="font-family:Verdana;font-size:8pt;width:100%;overflow-x:auto;overflow-y:hidden;">
            <div>
              <table width="100%" style="padding-top:5px;padding-left:5px;padding-right:5px;padding-bottom:10px;background-color:#ECE9D8;border-bottom:1px #CCCCCC Solid;"
                cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="100%" height="100%">
                      <table>
                        <tbody>
                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select
                                Month:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div style="font-family:Verdana;font-size:8pt;">
                                <select class="aspNetDisabled" style="font-family:Verdana;font-size:8pt;">
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">January</option>
                                  <option value="2">February</option>

                                </select>
                              </div>
                            </td>
                            <td width="22"></td>
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select
                                Comparison Year 1:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div style="font-family:Verdana;font-size:8pt;">
                                <select class="aspNetDisabled" style="font-family:Verdana;font-size:8pt;">
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">2019</option>
                                  <option value="2">2018</option>
                                  <option value="3">2017</option>
                                  <option value="4">2016</option>
                                  <option value="5">2015</option>
                                  <option value="6">2014</option>

                                </select>
                              </div>
                            </td>
                          </tr>
                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select
                                Comparison Year 2:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div style="font-family:Verdana;font-size:8pt;">
                                <select class="aspNetDisabled" style="font-family:Verdana;font-size:8pt;">
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">2019</option>
                                  <option value="2">2018</option>
                                  <option value="3">2017</option>
                                  <option value="4">2016</option>
                                  <option value="5">2015</option>
                                  <option value="6">2014</option>

                                </select>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="6"></td>
                    <td align="center" valign="top" style="border-left:1px #CCCCCC Solid;padding:10px;">
                      <table>
                        <tbody>
                          <tr>
                            <td><input style="font-family:Verdana;font-size:8pt;" type="submit" value="View Report"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr style="height:6px;font-size:2pt;">
        <td style="margin: 0px; padding: 0px; text-align: center; cursor: default; background-color: rgb(236, 233, 216);"
          colspan="3">
          <div id="ctl00_MainContent_ReportViewer1_ToggleParam">
          <input type="hidden"><input type="hidden" value="false">
          </div>
        </td>
      </tr>
      <tr style="display:none;">

      </tr>
      <tr>
        <td style="width: 25%; height: 15px; vertical-align: top; display: none;">
          <div style="width:100%;height:100%;">
            <span>
              <div style="display:none;">
                <input type="hidden">
              </div>
            </span>
          </div>
        </td>
        <td style="margin: 0px; padding: 0px; width: 4px; height: 15px; vertical-align: middle; display: none; background-color: rgb(236, 233, 216);">
          <div>
            <input name="ctl00$MainContent$ReportViewer1$ctl08$img" title="Show / Hide Document Map" align="top" id="ctl00_MainContent_ReportViewer1_ctl08_img"
              style="cursor:pointer;" onclick="void(0);" type="image" alt="Show / Hide Document Map"><input type="hidden"><input
              type="hidden" value="false">
          </div>
        </td>
        <td style="height: 15px; vertical-align: top;">
          <div style="height:100%;width:100%;overflow:auto;position:relative;">
            <div style="height:100%;display:none;"></div>
            <div>
              <div style="visibility:none;" fornonreportcontentarea="false" newcontenttype="Microsoft.Reporting.WebFormsClient.ReportAreaContent.None">
                <input type="hidden" value="None">
              </div><input id="ctl00_MainContent_ReportViewer1_ctl10_ScrollPosition" type="hidden"><span id="ctl00_MainContent_ReportViewer1_ctl10_Reserved_AsyncLoadTarget"></span>
              <div id="ctl00_MainContent_ReportViewer1_ctl10_ReportControl" style="display:none;">
                <span></span><input type="hidden"><input type="hidden"><input type="hidden" value="100">
              </div>
              <div style="width: 100%; height: 100%; display: none;">

              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</body>

<!--

    <input title="Show / Hide Parameters" align="middle" style="cursor:pointer;" onclick="void(0);" type="image"
              alt="Show / Hide Parameters">
src="/Reserved.ReportViewerWebControl.axd?OpType=Resource&amp;Version=10.0.30319.1&amp;Name=Microsoft.Reporting.WebForms.Icons.SplitterVertCollapse.png"
src="/Reserved.ReportViewerWebControl.axd?OpType=Resource&amp;Version=10.0.30319.1&amp;Name=Microsoft.Reporting.WebForms.Icons.SplitterHorizCollapse.png"

-->