<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Water Usage Analysis: Yearly Water Consumed</b></h6>
  <div>
      <h5 class="header">Today's Date: {{currentDate |date:"M/dd/yyyy h:mm:ss a"}}</h5>
      <div class="wrapper">
        <p>Yearly Water Consumed Per Reservoir as at - {{currentDate |date:"M/dd/yyyy h:mm:ss a"}}</p>
        <form class="form">
          
            
        </form>
      </div>
    </div>

</body>
