<head>

  <script src="http://code.highcharts.com/highcharts.src.js"></script>
  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Trends: Flow Rate Trends</b></h6>
  <table class="table1" cellspacing="0" cellpadding="0">
    <tbody>
      <tr style="background-color:#ECE9D8;">
        <td style="width: 25%; display: none;"></td>
        <td style="width: 6px; display: none;"></td>
        <td style="width:100%;"></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="myDiv">
            <div>
              <table class="table2" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td style="width: 100%;height: 100%">

                      <table>
                        <tbody>

                          <!-- Compalsary row-->

                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                                Province:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlprovince" id="ddlprovince" (change)="dropDownEnabled()">
                                  <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="0">All</option>
                                  <option value="gauteng">Gauteng</option>
                                </select>
                              </div>
                            </td>

                          </tr>
                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select District or
                                Metropolitan Municipality:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddldistrict" id="ddldistrict" required (change)="districtEnable()">
                                  <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="0">All</option>
                                  <option value="1~west_rand">West Rand</option>

                                </select>
                              </div>
                            </td>
                          </tr>
                          <tr isparameterrow="true">
                            <td style="padding:5px; "><span style="font-family:Verdana;font-size:8pt;">Select Local
                                Municipality:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlmunicipality" id="ddlmunicipality" name="municipality" required
                                  (change)="localEnable()">
                                  <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="0">All</option>
                                  <option value="1~merafong">Merafong City</option>
                                </select>
                              </div>
                            </td>
                          </tr>

                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                                Site:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlSite" id="ddlSite" (change)="dropDownEnabled()">
                                  <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="All">All</option>
                                  <option value="id~22~Wedela Big">Wedela Big</option>
                                  <option value="id~23~Wedela Small">Wedela Small</option>
                                  <option value="id~21~Fochville">Fochville</option>
                                  <option value="id~18~North">Khutsong North</option>
                                  <option value="id~20~Welverdiend">Welverdiend</option>
                                  <option value="sp~26~Blybank">Blybank</option>
                                  <option value="sp~24~South">Khutsong South</option>

                                </select>
                              </div>
                            </td>
                          </tr>
                          <!--line space-->
                          <div style="margin-bottom: 22px">
                            <tr isparameterrow="true">
                            </tr>
                          </div>

                          <!-- /Compalsary row -->

                          <!--  Insert components here  -->
                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select Date
                              </span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <input type="date" name="date" id="dpDate" class="dpDate" placeholder="Choose a Date"
                                  required>

                              </div>
                            </td>
                          </tr>
                          <!--  Insert components here  -->
                        </tbody>
                      </table>
                    </td>


                  </tr>
                  <!--line space-->
                  <div style="margin-bottom: 4%">
                    <tr isparameterrow="true">
                    </tr>
                  </div>
                  <tr style="margin-top: 1px;padding-bottom: 1px">
                    <td class="cellbutton">
                      <table>
                        <tbody>
                          <tr>
                            <td><input type="submit" class="btnreport" id="btnreport" value="View Report"
                                (click)="viewReport()"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr style="height:6px;font-size:2pt;">
        <td class="cellblock" colspan="3">
          <div>
            <input type="hidden"><input type="hidden" value="false">
          </div>
        </td>
      </tr>
      <tr style="display:none;"></tr>
      <tr>
        <td style="width: 25%; height: 100%; vertical-align: top; display: none;">
          <div style="width:100%;height:100%;">
            <span>
              <div style="display:none;">
                <input type="hidden">
              </div>
            </span>
          </div>
        </td>
        <td
          style="margin: 0px; padding: 0px; width: 4px; height: 100%; vertical-align: middle; display: none; background-color: rgb(236, 233, 216);">
          <div>
            <input type="hidden"><input type="hidden" value="false">
          </div>
        </td>
        <td style="height: 100%; vertical-align: top;">
          <div style="height:100%;width:100%;overflow:auto;position:relative;">
            <div style="height:100%;display:none;"></div>
            <div>
              <div style="visibility:none;" fornonreportcontentarea="false"
                newcontenttype="Microsoft.Reporting.WebFormsClient.ReportAreaContent.None">
                <input type="hidden" value="None">
              </div><input type="hidden"><span></span>
              <div style="display:none;">
                <span></span><input type="hidden"><input type="hidden"><input type="hidden" value="100">
              </div>
              <div style="width: 100%; height: 100%; display: none;">

              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <div *ngIf="one || many">
          <!--  -->
          <h6 class="header"><b>Rapid Analyser System Flow Rate Chart Dashboard</b></h6>
          <p style="text-align: center;">Today's Date: {{ currentDate | date: "dd/MM/yyyy h:mm a" }}</p>
        </div>
      </tr>
    </tbody>
  </table>
  <!--                     SINGLE SITE                             -->
  <div id="myChart" class="myChart" *ngIf="one" style="width: 96%">
    <!--   TABLE  ROW 1     -->
    <!--      Khutsong North Reservoir   -->
    <table style=" background-color: #fcfcfc ; width: 48%; margin-left: 42px;margin-bottom: 1%" cellspacing="1">
      <tbody style="border: 1px inset black;padding: 5%;">
        <th colspan="2" style=" background-color: lightgrey; text-align: center; color: grey"> {{siteName}} Reservoir
        </th>
        <tr>
          <td style="padding: 2.2%">
            <!--  INLET FLOW RATE -->
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsX">
            </highcharts-chart>
          </td>
          <td style="padding: 2.2%">
            <!--   OUTLET FLOW RATE -->
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsY">
            </highcharts-chart>
          </td>
        </tr>
      </tbody>
    </table>
    <table style=" margin-left: 42px;margin-bottom: 1%" cellspacing="1">
      <tr>
        <td>

        </td>
      </tr>
    </table>

  </div>

  <!--                     ALL SITES                            -->
  <div id="myChart" class="myChart" *ngIf="many" style="width: 96%">
    <!--   TABLE  ROW 1     -->

    <table style=" margin-left: 42px; width: 96%;" cellspacing="1">
      <tr>
        <td>
          <!--      WEDELA BIG RESEVOIR    -->
          <table style=" background-color: #fcfcfc ; width: 48%;" cellspacing="1">
            <tbody style="border: 1px inset black;padding: 5%;">
              <th colspan="2" style=" background-color: lightgrey; text-align: center; color: grey"> Wedela Big
                Reservor</th>
              <tr>
                <td style="padding: 2.2%">
                  <!--  ANALOG 2 INLET FLOW RATE -->
                  <highcharts-chart [Highcharts]="Highcharts" [options]="wedelaBigChart1">
                  </highcharts-chart>
                </td>
                <td style="padding: 2.2%">
                  <!--  ANALOG 3 OUTLET FLOE RATE -->
                  <highcharts-chart [Highcharts]="Highcharts" [options]="wedelaBigChart2">
                  </highcharts-chart>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <!--      WEDELA SMALL RESEVOIR    -->
          <table style="  background-color: #fcfcfc ; width: 48%; margin-left: 1.9%" cellspacing="1">
            <tbody style="border: 1px inset black;padding: 5%;">
              <th colspan="2" style=" background-color: lightgrey; text-align: center; color: grey"> Wedela Small
                Reservor</th>
              <tr>
                <td style="padding: 2.2%">
                  <!--  ANALOG 2 INLET FLOW RATE -->
                  <highcharts-chart [Highcharts]="Highcharts" [options]="wedelaSmallChart1">
                  </highcharts-chart>
                </td>
                <td style="padding: 2.2%">
                  <!--  ANALOG 3 OUTLET FLOE RATE -->
                  <highcharts-chart [Highcharts]="Highcharts" [options]="wedelaSmallChart2">
                  </highcharts-chart>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>

  </div>

 
  <br />
  <div class="lblResults" *ngIf="notFound">
    <!--  -->
    <label>Data not found for the selected fields</label>
  </div>

</body>

<!--
    
  -->