<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Trends: Monthly Trends</b></h6>
  <table class="table1" cellspacing="0" cellpadding="0">
    <tbody>
      <tr style="background-color:#ECE9D8;">
        <td style="width: 25%; display: none;"></td>
        <td style="width: 6px; display: none;"></td>
        <td style="width:100%;"></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="myDiv">
            <div>
              <table class="table2" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td style="width: 100%;height: 100%">

                      <table>
                        <tbody>

                          <!-- Compalsary row-->
                          
                          
                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                                Province:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlprovince" id="ddlprovince" required >
                                  <option value="1~gauteng" selected="selected">Gauteng</option>
                                </select>
                              </div>
                            </td>

                          </tr>
                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select District or
                                Metropolitan Municipality:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddldistrict" id="ddldistrict" required >
                                  <option value="1~west_rand" selected="selected">West Rand</option>
                                  
                                </select>
                              </div>
                            </td>
                          </tr>
                          <tr isparameterrow="true">
                            <td style="padding:5px; "><span style="font-family:Verdana;font-size:8pt;">Select Local
                                Municipality:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlmunicipality" id="ddlmunicipality" name="municipality" required >
                                  <option value="1~merafong" selected="selected">Merafong City</option>
                                </select>
                              </div>
                            </td>
                          </tr>


                          <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select Site:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlSite" id="ddlSite" name="ddlSite">
                                  <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option *ngFor="let site of SITES" value="{{site.SITEID}}~{{site.Name}}">{{site.Name}}</option>
                                </select>
                              </div>
                            </td>
                          </tr>
                          <!--line space-->
                          <div style="margin-bottom: 22px">
                            <tr isparameterrow="true">
                            </tr>
                          </div>
                         

                          <!-- /Compalsary row -->

                          <!--  Insert components here &nbsp; -->
                           <tr isparameterrow="true">
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                                Trend</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div id="ctl00_MainContent_ReportViewer1_ctl04_ctl07" style="font-family:Verdana;font-size:8pt;">
                                <select class="ddlTrends" id="ddlTrends" name="ddlTrends" required>
                                  <option selected="selected" value="">&lt;Select a Value&gt;</option>                                  
                                  <option value="ConsumedWater~Consumed Water">Consumed Water</option>
                                  <option value="ReceivedWater~Received Water">Received Water</option>
                                  <option value="ConsumedAndReceived~Consumed And Received">Consumed And Received</option>
                                  <option value="WaterLevel~Water Level">Water Level</option>

                                </select>
                              </div>
                            </td>
                            <td width="22"></td>
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                              Month</span></td>
                          <td style="padding:5px;padding-right:0px;">
                            <div id="ctl00_MainContent_ReportViewer1_ctl04_ctl03" style="font-family:Verdana;font-size:8pt;">
                              <select class="ddlMonth" id="ddlMonth" name="ddlMonth" required>
                                <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                <option value="1~January">January</option>
                                <option value="2~February">February</option>
                                <option value="3~March">March</option>
                                <option value="4~April">April</option>
                                <option value="5~May">May</option>
                                <option value="6~June">June</option>
                                <option value="7~July">July</option>
                                <option value="8~August">August</option>
                                <option value="9~September">September</option>
                                <option value="10~October">October</option>
                                <option value="11~November">November</option>
                                <option value="12~December">December</option>
  
                              </select>
                            </div>
                          </td>
                          </tr>
                         

                          <!--  Insert components here  -->
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <!--line space-->
                  <div style="margin-bottom: 4%">
                    <tr isparameterrow="true">
                    </tr>
                  </div>
                  <tr style="margin-top: 1px;padding-bottom: 1px">
                    <td class="cellbutton">
                      <table>
                        <tbody>
                          <tr>
                            <td><input type="submit" class="btnreport" id="btnreport" value="View Report" (click)="viewReport()"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr style="height:6px;font-size:2pt;">
        <td class="cellblock" colspan="3">
          <div>
            <input type="hidden"><input type="hidden" value="false">
          </div>
        </td>
      </tr>
      <tr style="display:none;"></tr>
      <tr>
        <td style="width: 25%; height: 100%; vertical-align: top; display: none;">
          <div style="width:100%;height:100%;">
            <span>
              <div style="display:none;">
                <input type="hidden">
              </div>
            </span>
          </div>
        </td>
        <td style="margin: 0px; padding: 0px; width: 4px; height: 100%; vertical-align: middle; display: none; background-color: rgb(236, 233, 216);">
          <div>
            <input type="hidden"><input type="hidden" value="false">
          </div>
        </td>
        <td style="height: 100%; vertical-align: top;">
          <div style="height:100%;width:100%;overflow:auto;position:relative;">
            <div style="height:100%;display:none;"></div>
            <div>
              <div style="visibility:none;" fornonreportcontentarea="false" newcontenttype="Microsoft.Reporting.WebFormsClient.ReportAreaContent.None">
                <input type="hidden" value="None">
              </div><input type="hidden"><span></span>
              <div style="display:none;">
                <span></span><input type="hidden"><input type="hidden"><input type="hidden" value="100">
              </div>
              <div style="width: 100%; height: 100%; display: none;">

              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <form *ngIf="visible">
    <h6 class="header">Monthly Trends Analysis</h6>
    <p style="text-align: center">Today's Date: {{currentDate |date:"dd/MM/yyyy h:mm:ss a"}}</p>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
   <!-- <div style="margin-left: 35px" [chart]="chart"></div> -->
  </form>
  <br/>
<div class="lblResults" *ngIf="notFound">
  <label>Data Not Found</label>
</div>

</body>

<!--
<td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                                            Site</span></td>
                                        <td style="padding:5px;padding-right:0px;">
                                          <div id="ctl00_MainContent_ReportViewer1_ctl04_ctl05" style="font-family:Verdana;font-size:8pt;">
                                            <select name="ctl00$MainContent$ReportViewer1$ctl04$ctl05$ddValue" class="aspNetDisabled"
                                              id="ctl00_MainContent_ReportViewer1_ctl04_ctl05_ddValue" style="font-family:Verdana;font-size:8pt;">
                                              <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                              <option value="1">Blybank</option>
                                              <option value="2">Carletonville</option>
                                              <option value="3">Fochville&nbsp;-&nbsp;Big&nbsp;Reservoir</option>
                                              <option value="4">Fochville&nbsp;-&nbsp;Small&nbsp;Reservoir</option>
                                              <option value="5">North&nbsp;-&nbsp;Ext&nbsp;3&nbsp;Tower</option>
                                              <option value="6">North&nbsp;-&nbsp;Reservoir</option>
                                              <option value="7">Shawela</option>
                                              <option value="8">South</option>
                                              <option value="9">Wedela&nbsp;Big</option>
                                              <option value="10">Wedela&nbsp;Small</option>
                                              <option value="11">Welverdiend</option>

                                            </select>
                                          </div>
                                        </td>

-->