<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

    <body style="padding-bottom: 100px;">
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Alarms</b></h6>
  <h5 class="header" ><b>Alarms</b></h5>
  <div style="margin-left: 12%;margin-top: 3%">
    <table class="tableBlock" border="1" width="70%" rules="all" cellspacing="0">

      <tbody>
        <tr class="titlerow">
          <td >Alarm Site</td>
          <td >Alarm Value</td>
          <td >Alarm Type</td>
          <td >Date</td>
          <td >Time</td>
        </tr>
      </tbody>
    </table>
  </div>
 </body>