<head>

    <title>.::RAPID ANALYZER::.</title>
  
  </head>

<p>

</p>
<body>

    <table id="ctl00_MainContent_ReportViewer1_fixedTable" style="table-layout:fixed;width:98%;height:100%;margin: 1%" cellspacing="0" cellpadding="0">
        <tbody><tr style="background-color:#ECE9D8;">
          <td style="width: 25%; display: none;"></td><td style="width: 6px; display: none;"></td><td style="width:100%;"></td>
        </tr><tr id="ParametersRowctl00_MainContent_ReportViewer1">
          <td colspan="3"><div id="ctl00_MainContent_ReportViewer1_ctl04" style="font-family:Verdana;font-size:8pt;width:100%;overflow-x:auto;overflow-y:hidden;">
            <div >
              <table width="100%" id="ParameterTable_ctl00_MainContent_ReportViewer1_ctl04" style="padding-top:5px;padding-left:5px;padding-right:5px;padding-bottom:10px;background-color:#ECE9D8;border-bottom:1px #CCCCCC Solid;" cellspacing="0" cellpadding="0" name="ParameterTable_ctl00_MainContent_ReportViewer1_ctl04">
                <tbody><tr>
                  <td width="100%" height="100%"><table id="ParametersGridctl00_MainContent_ReportViewer1_ctl04">
                    <tbody><tr isparameterrow="true">
                      <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please enter the number of households:</span></td><td style="padding:5px;padding-right:0px;"><div id="ctl00_MainContent_ReportViewer1_ctl04_ctl03" style="font-family:Verdana;font-size:8pt;">
                        <input name="ctl00$MainContent$ReportViewer1$ctl04$ctl03$txtValue" class="null" id="ctl00_MainContent_ReportViewer1_ctl04_ctl03_txtValue" style="font-family: Verdana; font-size: 8pt;" type="text" size="30">
                      </div></td><td width="22"></td><td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please enter Free Basic Water Allocation per Household (L):</span></td><td style="padding:5px;padding-right:0px;"><div id="ctl00_MainContent_ReportViewer1_ctl04_ctl05" style="font-family:Verdana;font-size:8pt;">
                        <input name="ctl00$MainContent$ReportViewer1$ctl04$ctl05$txtValue" class="null" id="ctl00_MainContent_ReportViewer1_ctl04_ctl05_txtValue" style="font-family: Verdana; font-size: 8pt;" type="text" size="30">
                      </div></td>
                    </tr><tr isparameterrow="true">
                      <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Enter Year of Assesment :</span></td><td style="padding:5px;padding-right:0px;"><div id="ctl00_MainContent_ReportViewer1_ctl04_ctl07" style="font-family:Verdana;font-size:8pt;">
                        <select name="ctl00$MainContent$ReportViewer1$ctl04$ctl07$ddValue" class="aspNetDisabled" id="ctl00_MainContent_ReportViewer1_ctl04_ctl07_ddValue" style="font-family:Verdana;font-size:8pt;">
                          <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                          <option value="1">2019</option>
                          <option value="2">2018</option>
                          <option value="3">2017</option>
                          <option value="4">2016</option>
                          <option value="5">2015</option>
                          <option value="6">2014</option>
    
                        </select>
                      </div></td><td width="22"></td><td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select Month:</span></td><td style="padding:5px;padding-right:0px;"><div id="ctl00_MainContent_ReportViewer1_ctl04_ctl09" style="font-family:Verdana;font-size:8pt;">
                        <select name="ctl00$MainContent$ReportViewer1$ctl04$ctl09$ddValue" class="aspNetDisabled" id="ctl00_MainContent_ReportViewer1_ctl04_ctl09_ddValue" style="font-family:Verdana;font-size:8pt;">
                          <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                          <option value="1">January</option>
                          <option value="2">February</option>
                          <option value="3">March</option>
                          <option value="4">April</option>
                          <option value="5">May</option>
                          <option value="6">June</option>
                          <option value="7">July</option>
                          <option value="8">August</option>
                          <option value="9">September</option>
                          <option value="10">October</option>
                          <option value="11">November</option>
                          <option value="12">December</option>
    
                        </select>
                      </div></td>
                    </tr>
                  </tbody></table></td><td width="6"></td><td align="center" valign="top" style="border-left:1px #CCCCCC Solid;padding:10px;"><table>
                    <tbody><tr>
                      <td><input name="ctl00$MainContent$ReportViewer1$ctl04$ctl00" id="ctl00_MainContent_ReportViewer1_ctl04_ctl00" style="font-family:Verdana;font-size:8pt;" type="submit" value="View Report"></td>
                    </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table>
            </div>
          </div></td>
        </tr><tr style="height:6px;font-size:2pt;">
          <td style="margin: 0px; padding: 0px; text-align: center; cursor: default; background-color: rgb(236, 233, 216);" colspan="3"><div id="ctl00_MainContent_ReportViewer1_ToggleParam">
            <input name="ctl00$MainContent$ReportViewer1$ToggleParam$store" id="ctl00_MainContent_ReportViewer1_ToggleParam_store" type="hidden"><input name="ctl00$MainContent$ReportViewer1$ToggleParam$collapse" id="ctl00_MainContent_ReportViewer1_ToggleParam_collapse" type="hidden" value="false">
          </div></td>
        </tr><tr style="display:none;">
    
        </tr><tr>
          <td style="width: 25%; height: 100%; vertical-align: top; display: none;"><div style="width:100%;height:100%;">
            <span id="ctl00_MainContent_ReportViewer1_DocMap"><div id="ctl00_MainContent_ReportViewer1_ctl09" style="display:none;">
              <input name="ctl00$MainContent$ReportViewer1$ctl09$ClientClickedId" id="ctl00_MainContent_ReportViewer1_ctl09_ClientClickedId" type="hidden">
            </div></span>
          </div></td><td style="margin: 0px; padding: 0px; width: 4px; height: 100%; vertical-align: middle; display: none; background-color: rgb(236, 233, 216);"><div id="ctl00_MainContent_ReportViewer1_ctl08">
            <input name="ctl00$MainContent$ReportViewer1$ctl08$store" id="ctl00_MainContent_ReportViewer1_ctl08_store" type="hidden"><input name="ctl00$MainContent$ReportViewer1$ctl08$collapse" id="ctl00_MainContent_ReportViewer1_ctl08_collapse" type="hidden" value="false">
          </div></td><td style="height: 100%; vertical-align: top;"><div id="ctl00_MainContent_ReportViewer1_ctl10" style="height:100%;width:100%;overflow:auto;position:relative;">
            <div id="VisibleReportContentctl00_MainContent_ReportViewer1_ctl10" style="height:100%;display:none;"></div><div id="ctl00_MainContent_ReportViewer1_ctl10_ReportArea">
              <div id="ctl00_MainContent_ReportViewer1_ctl10_VisibilityState" style="visibility:none;" fornonreportcontentarea="false" newcontenttype="Microsoft.Reporting.WebFormsClient.ReportAreaContent.None">
                <input name="ctl00$MainContent$ReportViewer1$ctl10$VisibilityState$ctl00" type="hidden" value="None">
              </div><input name="ctl00$MainContent$ReportViewer1$ctl10$ScrollPosition" id="ctl00_MainContent_ReportViewer1_ctl10_ScrollPosition" type="hidden"><span id="ctl00_MainContent_ReportViewer1_ctl10_Reserved_AsyncLoadTarget"></span><div id="ctl00_MainContent_ReportViewer1_ctl10_ReportControl" style="display:none;">
                <span></span><input name="ctl00$MainContent$ReportViewer1$ctl10$ReportControl$ctl02" type="hidden"><input name="ctl00$MainContent$ReportViewer1$ctl10$ReportControl$ctl03" type="hidden"><input name="ctl00$MainContent$ReportViewer1$ctl10$ReportControl$ctl04" id="ctl00_MainContent_ReportViewer1_ctl10_ReportControl_ctl04" type="hidden" value="100">
              </div><div id="ctl00_MainContent_ReportViewer1_ctl10_NonReportContent" style="width: 100%; height: 100%; display: none;">
    
              </div>
            </div>
          </div></td>
        </tr>
      </tbody></table>

</body>

<!--

  <input name="ctl00$MainContent$ReportViewer1$ToggleParam$img" title="Show / Hide Parameters" align="middle" id="ctl00_MainContent_ReportViewer1_ToggleParam_img" style="cursor:pointer;" onclick="void(0);" type="image" alt="Show / Hide Parameters" src="/Reserved.ReportViewerWebControl.axd?OpType=Resource&amp;Version=10.0.30319.1&amp;Name=Microsoft.Reporting.WebForms.Icons.SplitterHorizCollapse.png">
<input name="ctl00$MainContent$ReportViewer1$ctl08$img" title="Show / Hide Document Map" align="top" id="ctl00_MainContent_ReportViewer1_ctl08_img" style="cursor:pointer;" onclick="void(0);" type="image" alt="Show / Hide Document Map" src="/Reserved.ReportViewerWebControl.axd?OpType=Resource&amp;Version=10.0.30319.1&amp;Name=Microsoft.Reporting.WebForms.Icons.SplitterVertCollapse.png">

-->
