<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Finance: Revenue and Invoice Forecast</b></h6>
  <form>
    <table class="table1" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="background-color:#ECE9D8;">
          <td style="width: 25%; display: none;"></td>
          <td style="width: 6px; display: none;"></td>
          <td style="width:100%;"></td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="myDiv">
              <div>
                <table class="table2" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="width: 100%;height: 100%">

                        <table>
                          <tbody>

                            <!-- Compalsary row-->

                            <tr isparameterrow="true">
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select
                                  Province:</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div>
                                  <select class="ddlprovince" id="ddlprovince" (change)="dropDownEnabled()" >
                                    <option selected="selected" value="" >&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                    <option value="0" >All</option>
                                    <option value="1~gauteng"  >Gauteng</option>
                                  </select>
                                </div>
                              </td>
  
                            </tr>
                            <tr isparameterrow="true">
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select District or
                                  Metropolitan Municipality:</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div>
                                  <select class="ddldistrict" id="ddldistrict" required  (change)="districtEnable()" >
                                    <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                    <option value="0">All</option>
                                    <option value="1~west_rand" >West Rand</option>
                                    
                                  </select>
                                </div>
                              </td>
                            </tr>
                            <tr isparameterrow="true">
                              <td style="padding:5px; "><span style="font-family:Verdana;font-size:8pt;">Select Local
                                  Municipality:</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div>
                                  <select class="ddlmunicipality" id="ddlmunicipality" name="municipality" required  (change)="localEnable()">
                                    <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                    <option value="0">All</option>
                                    <option value="1~merafong"  >Merafong City</option>
                                  </select>
                                </div>
                              </td>
                            </tr>
  
                            <tr isparameterrow="true" >
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select Site:</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div >
                                  <select class="ddlSite" id="ddlSite">
                                    <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                    <option value="ALL" >All</option><!---->
                                    <option value="Wedela Big" >Wedela Big</option>
                                    <option value="Fochville" >Fochville</option>
                                    <option value="North" >North</option>
                                    <option value="Welverdiend" >Welverdiend</option>
                                    <option value="Wedela Small" >Wedela Small</option>
                                  </select>
                                </div>
                              </td>
                          </tr>

                            <!--line space-->
                            <div style="margin-bottom: 22px">
                              <tr isparameterrow="true">
                              </tr>
                            </div>

                            <!-- /Compalsary row -->

                            <tr isparameterrow="true">
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please enter the
                                  number of households:</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div id="ctl00_MainContent_ReportViewer1_ctl04_ctl03"
                                  style="font-family:Verdana;font-size:8pt;">
                                  <input class="txtHousehold" id="txtHousehold" name="txtHousehold" type="number"
                                    size="30" required />
                                </div>
                              </td>
                              <td width="22"></td>
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please enter
                                  Free
                                  Basic Water Allocation per Household (L):</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div style="font-family:Verdana;font-size:8pt;">
                                  <input class="txtWaterAllocation" id="txtWaterAllocation" name="txtWaterAllocation"
                                    type="number" size="30" required />
                                </div>
                              </td>
                            </tr>
                            <tr isparameterrow="true">
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select
                                  Year of Assesment :</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div style="font-family:Verdana;font-size:8pt;">
                                  <select id="ddlYear" class="ddlYear" name="ddlYear" required>
                                    <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2016">2016</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>

                                  </select>
                                </div>
                              </td>
                              <td width="22"></td>
                              <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select
                                  Month:</span></td>
                              <td style="padding:5px;padding-right:0px;">
                                <div style="font-family:Verdana;font-size:8pt;">
                                  <select class="ddlMonth" id="ddlMonth" name="ddlMonth" required>
                                    <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                    <option value="1~January">January</option>
                                    <option value="2~February">February</option>
                                    <option value="3~March">March</option>
                                    <option value="4~April">April</option>
                                    <option value="5~May">May</option>
                                    <option value="6~June">June</option>
                                    <option value="7~July">July</option>
                                    <option value="8~August">August</option>
                                    <option value="9~September">September</option>
                                    <option value="10~October">October</option>
                                    <option value="11~November">November</option>
                                    <option value="12~December">December</option>

                                  </select>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>


                    </tr>
                    <!--line space-->
                    <div style="margin-bottom: 4%">
                      <tr isparameterrow="true">
                      </tr>
                    </div>
                    <tr style="margin-top: 1px;padding-bottom: 1px">
                      <td class="cellbutton">
                        <table>
                          <tbody>
                            <tr>
                              <td><input type="button" class="btnreport" id="btnreport" value="View Report"
                                  (click)="viewReport()" /></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr style="height:6px;font-size:2pt;width:8%">
          <td class="cellblock" colspan="3">
            <div>
              <input type="hidden"><input type="hidden" value="false">
            </div>
          </td>
        </tr>
        <tr style="display:none;"></tr>
        <tr>
          <td style="width: 25%; height: 100%; vertical-align: top; display: none;">
            <div style="width:100%;height:100%;">
              <span>
                <div style="display:none;">
                  <input type="hidden">
                </div>
              </span>
            </div>
          </td>
          <td
            style="margin: 0px; padding: 0px; width: 4px; height: 100%; vertical-align: middle; display: none; background-color: rgb(236, 233, 216);">
            <div>
              <input type="hidden"><input type="hidden" value="false">
            </div>
          </td>
          <td style="height: 100%; vertical-align: top;">
            <div style="height:100%;width:100%;overflow:auto;position:relative;">
              <div style="height:100%;display:none;"></div>
              <div>
                <div style="visibility:none;" fornonreportcontentarea="false"
                  newcontenttype="Microsoft.Reporting.WebFormsClient.ReportAreaContent.None">
                  <input type="hidden" value="None">
                </div><input type="hidden"><span></span>
                <div style="display:none;">
                  <span></span><input type="hidden"><input type="hidden"><input type="hidden" value="100">
                </div>
                <div style="width: 100%; height: 100%; display: none;">

                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="visible">
          <h6 class="header">Water Revenue and Invoice Forecast for the month: {{ monthName }}</h6>
          <p style="text-align: center; font-weight: bold; color: black;">Today's Date:
            {{currentDate |date: "dd/MM/yyyy h:mm a"}}</p>
        </tr>

      </tbody>
    </table>

    <table style="margin-left: 65px" width="94%" *ngIf="visible">
      <tbody>
        <tr>
          <td>

            <p style="color: grey; font-weight: bold;">Water Revenue Forecast in ZAR </p>
            <table class="financeTable" id="financeTable" border="1" width="100%" rules="all" cellspacing="0">
              <tr class="titleRow">
                <th>Consumed Water (KL)</th>
                <th>Cost Price (R) per L</th>
                <th>Selling Price (R) per L</th>
                <th>Free Basic Water per Household (L)</th>
                <th>Loss%</th>
                <th>Revenue</th>
              </tr>
              <tr>
                <td>{{ ConsumedTotal | number: '1.2-2'}}</td>
                <td>{{ costPrice | currency: 'ZAR':"symbol-narrow"}}</td>
                <td>{{ sellPrice | currency: 'ZAR':"symbol-narrow"}}</td>
                <td>{{ FBWperHouse.value }}</td>
                <td>{{ loss | number: '1.2-2' }}</td>
                <td style="color: white; background-color: slategrey;padding: 1%; font-weight: bold">{{ revenue  | currency: 'ZAR':"symbol-narrow"}}</td>
              </tr>
            </table>
            <hr border="5" color="black" style="margin-left:0%;" width="100%">
            <p style="color: grey; font-weight: bold; margin-top: 3%">Water Invoice Payment Forecast in ZAR</p>
            <table class="financeTable" id="financeTable" border="1" width="75%" rules="all" cellspacing="0">
              <tr class="titleRow" id="titleRow">
                <td>Received Water (KL)</td>
                <td>Cost Price Per L</td>
                <td>Projected Payment</td>
              </tr>
              <tr>
                <td>{{ ReceivedTotal | number: '1.2-2' }}</td>
                <td>{{ costPrice | currency: 'ZAR':"symbol-narrow" }}</td>
                <td style="color: white; background-color: slategrey; font-weight: bold">{{ payment  | currency: 'ZAR':"symbol-narrow"}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table style="margin-left: 10%; margin-top: -5%"  cellpadding="0" cellspacing="0">
              <tbody>
                <tr style="margin-top: 10%">
                  <th colspan="2" class="header" id="header"> STATS</th>
                </tr>
                <tr style="margin-top: 10%">
                  <td>Value of Allocated Free Basic Water: </td>
                  <td style="text-align: right">{{ allocatedFBW  | currency: 'ZAR':"symbol-narrow"}}</td>
                </tr>
                <tr style="margin-top: 10%">
                  <td>Available Water (KL): </td>
                  <td style="text-align: right">{{ availableWater | number: '1.2-2' }}</td>
                </tr>
                <tr style="margin-top: 10%">
                  <td>Cost of Available Water: </td>
                  <td style="text-align: right; width: 30%">{{ availableCost  | currency: 'ZAR':"symbol-narrow"}}</td>
                </tr>
                <tr style="margin-top: 10%">
                  <td>Revenue Margin Before Loss% and FBW Allocation: </td>
                  <td style="text-align: right">{{ revenueMargin  | currency: 'ZAR':"symbol-narrow"}}</td>
                </tr>
                <tr style="margin-top: 10%">
                  <td><b>USAGE INDICATOR: </b></td>
                  <td style="text-align: center; background-color: grey;"><b>{{ usage | number: '1.2-2' }}%</b></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    
  <div class="lblResults" *ngIf="notFound">
    <label>There is no data for the Selected fields!</label>
  </div>
  
  </form>
</body>

<!--

-->