<head>

    <title>.::Tsalano Business Solutions::. Telemetry</title>

</head>

<body>
    <div class="main" style="padding-bottom: 5% ">

    <fieldset class="login">
  
        <!-- Log In Table  -->
        <table class="table1" cellpadding="0">
  
  
            <tr>
                <td class="style1">
                    <table class="table2" cellspacing="0" cellpadding="4" id="Login2">
                        <tr>
                            <td>
                                <table class="loginTable" cellpadding="0">
                                    <tr>
                                        <td class="loginNav" colspan="2">Please Enter Your LogIn Credentials</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right"><label for="Login2_UserName">User
                                                Name:</label></td>
                                        <td><input name="username" type="text" id="txtUsername" class="txtUsername"
                                                style="font-size:Small;width:200px;" placeholder="Enter Your Username" required></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right"><label for="Login2_Password">Password:</label></td>
                                        <td><input name="password" type="password" id="txtPassword" class="txtPassword"
                                                style="font-size:Small;width:200px;" placeholder="Enter Your Password" required></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;border-style:None;" colspan="2" ><input
                                                id="chckboxRemember" class="chckboxRemember" type="checkbox" /><label
                                                for="Login2_RememberMe">Remember me next time.</label></td>
                                    </tr>
                                    <tr><td style="color:Red;" colspan="2" *ngIf = 'false'>Invalid username or password</td></tr>
                                    <tr>
                                        <td colspan="2"><input type="submit" class="btnlogin" id="btnlogin" name="loginButton" value="Log In"  routerLink='/comparisonyeartoyear' routerLinkActive='active'   ></td>                                            
                                            
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- /Log In Table  -->
    </fieldset>
  
  
  </div>
</body>

