<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Water Usage Analysis: Multi Year Consumed Trends</b></h6>
  <div>
      <h5 class="header">Today's Date: {{currentDate |date:"M/dd/yyyy h:mm:ss a"}}</h5>
      <div class="wrapper">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 100%; height: 400px; display: block; margin-top: 4%;"></highcharts-chart>
      </div>
    </div>

</body>
