USE [CellCopMessaging210]
GO
/****** Object:  StoredProcedure [dbo].[MESSAGESRECEIVEDUNDELIMITED]    Script Date: 01/27/2016 12:39:47 ******/
DROP PROCEDURE [dbo].[MESSAGESRECEIVEDUNDELIMITED]
GO
/****** Object:  Table [dbo].[CM_MESSAGESRECEIVEDUNDELIMITED]    Script Date: 01/27/2016 12:39:44 ******/
DROP TABLE [dbo].[CM_MESSAGESRECEIVEDUNDELIMITED]
GO
/****** Object:  Table [dbo].[CM_MESSAGESRECEIVEDUNDELIMITED]    Script Date: 01/27/2016 12:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_MESSAGESRECEIVEDUNDELIMITED](
	[ReceiveID] [numeric](18, 0) NOT NULL,
	[TriggeredBy] [nvarchar](10) NOT NULL,
	[Channel] [nvarchar](10) NOT NULL,
	[Date] [nvarchar](10) NOT NULL,
	[Time] [nvarchar](10) NOT NULL,
	[Input1] [nvarchar](10) NOT NULL,
	[Input2] [nvarchar](10) NOT NULL,
	[Input3] [nvarchar](10) NOT NULL,
	[Input4] [nvarchar](10) NOT NULL,
	[Input5] [nvarchar](10) NOT NULL,
	[Input6] [nvarchar](10) NOT NULL,
	[Input7] [nvarchar](10) NOT NULL,
	[Input8] [nvarchar](10) NOT NULL,
	[Charger] [nvarchar](10) NOT NULL,
	[Battery] [nvarchar](10) NOT NULL,
	[Analog1] [nvarchar](10) NOT NULL,
	[Analog2] [nvarchar](10) NOT NULL,
	[Analog3] [nvarchar](10) NOT NULL,
	[Analog4] [nvarchar](10) NOT NULL,
	[Analog5] [nvarchar](10) NOT NULL,
	[Analog6] [nvarchar](10) NOT NULL,
	[Analog7] [nvarchar](10) NOT NULL,
	[Analog8] [nvarchar](10) NOT NULL,
	[Analog1AvG] [nvarchar](10) NOT NULL,
	[Analog2AvG] [nvarchar](10) NOT NULL,
	[Analog3AvG] [nvarchar](10) NOT NULL,
	[Analog4AvG] [nvarchar](10) NOT NULL,
	[Output1] [nvarchar](10) NOT NULL,
	[Output2] [nvarchar](10) NOT NULL,
	[Output3] [nvarchar](10) NOT NULL,
	[Output4] [nvarchar](10) NOT NULL,
	[Output5] [nvarchar](10) NOT NULL,
	[Output6] [nvarchar](10) NOT NULL,
	[Output7] [nvarchar](10) NOT NULL,
	[Output8] [nvarchar](10) NOT NULL,
	[Counter1] [nvarchar](10) NOT NULL,
	[Counter2] [nvarchar](10) NOT NULL,
	[Counter3] [nvarchar](10) NOT NULL,
	[Counter4] [nvarchar](10) NOT NULL,
	[Counter5] [nvarchar](10) NOT NULL,
	[Counter6] [nvarchar](10) NOT NULL,
	[Counter7] [nvarchar](10) NOT NULL,
	[Counter8] [nvarchar](10) NOT NULL,
	[HourMeter1] [nvarchar](10) NOT NULL,
	[HourMeter2] [nvarchar](10) NOT NULL,
	[HourMeter3] [nvarchar](10) NOT NULL,
	[HourMeter4] [nvarchar](10) NOT NULL,
	[HourMeter5] [nvarchar](10) NOT NULL,
	[HourMeter6] [nvarchar](10) NOT NULL,
	[HourMeter7] [nvarchar](10) NOT NULL,
	[HourMeter8] [nvarchar](10) NOT NULL,
	[Cellphone] [nvarchar](10) NOT NULL,
	[Tower] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[MESSAGESRECEIVEDUNDELIMITED]    Script Date: 01/27/2016 12:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MESSAGESRECEIVEDUNDELIMITED]
AS
BEGIN
	DECLARE @TABLERECEIVEDID NUMERIC(18, 0)

	DECLARE @TABLETRIGGEREDBY NVARCHAR(50)
	DECLARE @TABLECHANNEL NVARCHAR(50)
	DECLARE @TABLEDATE NVARCHAR(50)
	DECLARE @TABLETIME NVARCHAR(50)

	DECLARE @TABLEINPUT1 NVARCHAR(50)
	DECLARE @TABLEINPUT2 NVARCHAR(50)
	DECLARE @TABLEINPUT3 NVARCHAR(50)
	DECLARE @TABLEINPUT4 NVARCHAR(50)	
	DECLARE @TABLEINPUT5 NVARCHAR(50)
	DECLARE @TABLEINPUT6 NVARCHAR(50)
	DECLARE @TABLEINPUT7 NVARCHAR(50)	
	DECLARE @TABLEINPUT8 NVARCHAR(50)
	
	DECLARE @TABLECHARGER NVARCHAR(50)
	DECLARE @TABLEBATTERY NVARCHAR(50)

	DECLARE @TABLEANALOG1 NVARCHAR(50)
	DECLARE @TABLEANALOG2 NVARCHAR(50)
	DECLARE @TABLEANALOG3 NVARCHAR(50)
	DECLARE @TABLEANALOG4 NVARCHAR(50)
	DECLARE @TABLEANALOG5 NVARCHAR(50)
	DECLARE @TABLEANALOG6 NVARCHAR(50)
	DECLARE @TABLEANALOG7 NVARCHAR(50)
	DECLARE @TABLEANALOG8 NVARCHAR(50)
	
	DECLARE @TABLEANALOG1AVG NVARCHAR(50)
	DECLARE @TABLEANALOG2AVG NVARCHAR(50)
	DECLARE @TABLEANALOG3AVG NVARCHAR(50)
	DECLARE @TABLEANALOG4AVG NVARCHAR(50)
	
	DECLARE @TABLEOUTPUT1 NVARCHAR(50)
	DECLARE @TABLEOUTPUT2 NVARCHAR(50)
	DECLARE @TABLEOUTPUT3 NVARCHAR(50)
	DECLARE @TABLEOUTPUT4 NVARCHAR(50)
	DECLARE @TABLEOUTPUT5 NVARCHAR(50)
	DECLARE @TABLEOUTPUT6 NVARCHAR(50)
	DECLARE @TABLEOUTPUT7 NVARCHAR(50)
	DECLARE @TABLEOUTPUT8 NVARCHAR(50)
	
	DECLARE @TABLECOUNTER1 NVARCHAR(50)
	DECLARE @TABLECOUNTER2 NVARCHAR(50)
	DECLARE @TABLECOUNTER3 NVARCHAR(50)
	DECLARE @TABLECOUNTER4 NVARCHAR(50)
	DECLARE @TABLECOUNTER5 NVARCHAR(50)
	DECLARE @TABLECOUNTER6 NVARCHAR(50)
	DECLARE @TABLECOUNTER7 NVARCHAR(50)
	DECLARE @TABLECOUNTER8 NVARCHAR(50)
	
	DECLARE @TABLEHOURMETER1 NVARCHAR(50)
	DECLARE @TABLEHOURMETER2 NVARCHAR(50)
	DECLARE @TABLEHOURMETER3 NVARCHAR(50)
	DECLARE @TABLEHOURMETER4 NVARCHAR(50)
	DECLARE @TABLEHOURMETER5 NVARCHAR(50)
	DECLARE @TABLEHOURMETER6 NVARCHAR(50)
	DECLARE @TABLEHOURMETER7 NVARCHAR(50)
	DECLARE @TABLEHOURMETER8 NVARCHAR(50)
	
	DECLARE @TABLECELLPHONE NVARCHAR(50)
	DECLARE @TABLETOWER NVARCHAR(50)

	DECLARE @RECEIVED INT
	DECLARE CM_DATACURSOR CURSOR FOR 
	SELECT CM_MESSAGESRECEIVED.RECEIVEID
	FROM CM_MESSAGESRECEIVED	
	WHERE LEN(MSGTEXT) > 185
	AND CM_MESSAGESRECEIVED.RECEIVEID
	NOT IN (SELECT CM_MESSAGESRECEIVEDUNDELIMITED.RECEIVEID FROM CM_MESSAGESRECEIVEDUNDELIMITED)
	ORDER BY CM_MESSAGESRECEIVED.RECEIVEID DESC;

	OPEN CM_DATACURSOR

	FETCH NEXT FROM CM_DATACURSOR 
	INTO @RECEIVED

	WHILE @@FETCH_STATUS = 0
	BEGIN

		DECLARE @Str NVARCHAR(MAX)
		SET @Str = (Select  
				'|' + Convert(Varchar(1000), [ReceiveID])  
				+  '|' + RTRIM(REPLACE(REPLACE(SUBSTRING(dbo.CM_MESSAGESRECEIVED.msgText, 9, 205), ',', '|'), ';', ' ')) + '|' 
				From [CellcopMessaging210].[dbo].[CM_MESSAGESRECEIVED] 
				Where RECEIVEID = @RECEIVED)

		DECLARE @Part NVARCHAR(MAX)
		DECLARE @IND INT
		DECLARE @INTLOCATION INT SET @INTLOCATION = 0
		SET @IND = CHARINDEX('|',@Str)
		DECLARE @EIND INT set @EIND = 0

		WHILE(@IND != LEN(@STR))
		BEGIN
			SET @INTLOCATION = @INTLOCATION + 1
			SET  @EIND = ISNULL(((CHARINDEX('|', @Str, @IND + 1)) - @IND - 1), 0)

			IF (@INTLOCATION = 1)
				SET @TABLERECEIVEDID = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 2)
				SET @TABLETRIGGEREDBY = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 3)
				SET @TABLECHANNEL = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 4)
				SET @TABLEDATE = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 5)
				SET @TABLETIME   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))			
			IF (@INTLOCATION = 6)
				SET @TABLEINPUT1  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 7)
				SET @TABLEINPUT2  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 8)
				SET @TABLEINPUT3 = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 9)
				SET @TABLEINPUT4   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 10)
				SET @TABLEINPUT5 = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 11)
				SET @TABLEINPUT6  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 12)
				SET @TABLEINPUT7  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 13)
				SET @TABLEINPUT8  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))			
			IF (@INTLOCATION = 14)
				SET @TABLECHARGER = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 15)
				SET @TABLEBATTERY   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 16)
				SET @TABLEANALOG1  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 17)
				SET @TABLEANALOG2  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 18)
				SET @TABLEANALOG3  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 19)
				SET @TABLEANALOG4  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 20)
				SET @TABLEANALOG5  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 21)
				SET @TABLEANALOG6  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 22)
				SET @TABLEANALOG7  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 23)
				SET @TABLEANALOG8  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))			
			IF (@INTLOCATION = 24)
				SET @TABLEANALOG1AVG   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 25)
				SET @TABLEANALOG2AVG   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 26)
				SET @TABLEANALOG3AVG   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 27)
				SET @TABLEANALOG4AVG   = (SUBSTRING(@Str, (@IND  + 1),  @EIND))			
			IF (@INTLOCATION = 28)	
				SET @TABLEOUTPUT1 = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 29)
				SET @TABLEOUTPUT2  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 30)
				SET @TABLEOUTPUT3  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 31)
				SET @TABLEOUTPUT4  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 32)
				SET @TABLEOUTPUT5  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 33)
				SET @TABLEOUTPUT6  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 34)	
				SET @TABLEOUTPUT7  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 35)
				SET @TABLEOUTPUT8  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))						
			IF (@INTLOCATION = 36)
				SET @TABLECOUNTER1 = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 37)
				SET @TABLECOUNTER2  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 38)
				SET @TABLECOUNTER3  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 39)
				SET @TABLECOUNTER4  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 40)
				SET @TABLECOUNTER5  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 41)
				SET @TABLECOUNTER6  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 42)
				SET @TABLECOUNTER7  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 43)
				SET @TABLECOUNTER8  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))			
			IF (@INTLOCATION = 44)
				SET @TABLEHOURMETER1  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 45)
				SET @TABLEHOURMETER2  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 46)
				SET @TABLEHOURMETER3  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 47)
				SET @TABLEHOURMETER4  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 48)
				SET @TABLEHOURMETER5  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 49)
				SET @TABLEHOURMETER6  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 50)
				SET @TABLEHOURMETER7  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 51)
				SET @TABLEHOURMETER8  = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 52)
				SET @TABLECELLPHONE = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
			IF (@INTLOCATION = 53)	
				SET @TABLETOWER = (SUBSTRING(@Str, (@IND  + 1),  @EIND))
				
			--SELECT (SUBSTRING(@Str, (@IND  + 1),  @EIND)) 'FieldData'
			SELECT @IND = ISNULL(CHARINDEX('|', @STR, @IND + 1), 0) 
		END
    
		--INSERT INTO NEWLY CREATED TABLE HERE
		INSERT INTO [CellcopMessaging210].[dbo].[CM_MESSAGESRECEIVEDUNDELIMITED]
			([ReceiveID]
			  ,[TriggeredBy]
			  ,[Channel]
			  ,[Date]
			  ,[Time]
			  ,[Input1]
			  ,[Input2]
			  ,[Input3]
			  ,[Input4]
			  ,[Input5]
			  ,[Input6]
			  ,[Input7]
			  ,[Input8]
			  ,[Charger]
			  ,[Battery]			  
			  ,[Analog1]
			  ,[Analog2]
			  ,[Analog3]
			  ,[Analog4]
			  ,[Analog5]
			  ,[Analog6]
			  ,[Analog7]
			  ,[Analog8]
			  ,[Analog1AvG]
			  ,[Analog2AvG]
			  ,[Analog3AvG]
			  ,[Analog4AvG]
			  ,[Output1]
			  ,[Output2]
			  ,[Output3]
			  ,[Output4]
			  ,[Output5]
			  ,[Output6]
			  ,[Output7]
			  ,[Output8]
			  ,[Counter1]
			  ,[Counter2]
			  ,[Counter3]
			  ,[Counter4]
			  ,[Counter5]
			  ,[Counter6]
			  ,[Counter7]
			  ,[Counter8]
			  ,[HourMeter1]
			  ,[HourMeter2]
			  ,[HourMeter3]
			  ,[HourMeter4]
			  ,[HourMeter5]
			  ,[HourMeter6]
			  ,[HourMeter7]
			  ,[HourMeter8]
			  ,[Cellphone]
			  ,[Tower])
		VALUES
			(@TABLERECEIVEDID
				,@TABLETRIGGEREDBY
				,@TABLECHANNEL
				,@TABLEDATE
				,@TABLETIME
				,@TABLEINPUT1
				,@TABLEINPUT2
				,@TABLEINPUT3
				,@TABLEINPUT4	
				,@TABLEINPUT5
				,@TABLEINPUT6
				,@TABLEINPUT7	
				,@TABLEINPUT8
				,@TABLECHARGER
				,@TABLEBATTERY
				,@TABLEANALOG1
				,@TABLEANALOG2
				,@TABLEANALOG3
				,@TABLEANALOG4
				,@TABLEANALOG5
				,@TABLEANALOG6
				,@TABLEANALOG7
				,@TABLEANALOG8
				,@TABLEANALOG1AVG
				,@TABLEANALOG2AVG
				,@TABLEANALOG3AVG
				,@TABLEANALOG4AVG
				,@TABLEOUTPUT1
				,@TABLEOUTPUT2
				,@TABLEOUTPUT3
				,@TABLEOUTPUT4
				,@TABLEOUTPUT5
				,@TABLEOUTPUT6
				,@TABLEOUTPUT7
				,@TABLEOUTPUT8
				,@TABLECOUNTER1
				,@TABLECOUNTER2
				,@TABLECOUNTER3
				,@TABLECOUNTER4
				,@TABLECOUNTER5
				,@TABLECOUNTER6
				,@TABLECOUNTER7
				,@TABLECOUNTER8
				,@TABLEHOURMETER1
				,@TABLEHOURMETER2
				,@TABLEHOURMETER3
				,@TABLEHOURMETER4
				,@TABLEHOURMETER5
				,@TABLEHOURMETER6
				,@TABLEHOURMETER7
				,@TABLEHOURMETER8
				,IsNull(@TABLECELLPHONE, '')
				,IsNull(@TABLETOWER, ''))

		FETCH NEXT FROM CM_DATACURSOR 
		INTO @RECEIVED   
	END 
	CLOSE CM_DATACURSOR;
	DEALLOCATE CM_DATACURSOR;

END
GO
