.navbar {
    background-color: white;
    color: steelblue;
    width: 100%;
    margin: 0px auto 0px 0px;
    font-family: Verdana, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    
}
.title b {
    color: slategrey;
    font-family:  Verdana
}

.LoginLink {
    font-size:0.8em;
    text-align: right;
    font-family: sans-serif;
    vertical-align: text-top
}

footer{
    text-align: center;
    color: silver;
    font-size: 4mm;
    border-top: 1px grey solid;
    border-top-style: solid;
    background-color: #f5f5f5;
    position: relative;
    top: 213px;
    width: 100%;
    
    
}

.form1 {
   margin-bottom: 1px;
}

a:hover {
   color: slategrey;
   font-style: unset;
   opacity: 2px;
   font-weight: bold;

}

a {
    color: slategrey
}

 .style1 {
     width: 1064px;
     text-align: center
 }

 

 



