<!--The content below is only a placeholder and can be replaced.-->

<html  (NameEvent)="myname" >

<body style="margin: 0px auto 0px 0px">
    <form method="post" action="./" id="Form1" class="form1">

        <div class="page">
            <!-- Navigation bar  -->
            <div class="navbar">
                <div class="title">
                    <h4><b>.::RAPID ANALYZER::.</b> Water Conservation and Management</h4>
                </div>
                <div class="LoginLink" *ngIf="router.url != '/login'">
                        
                    Welcome <span ><b>{{name | titlecase}}</b></span>
                    [ <a id="logout" class="logout"   (click)="logOut()" >Log Out</a> ]
                </div>

            </div>
            <!--  /Navigation bar  -->
           
            <router-outlet></router-outlet>
        </div>
        
        

    </form>
    
    <footer class="footer"  >

            Copyrights (c) Tsalano Business Solutions</footer>
</body>


</html>