<!--The content below is only a placeholder and can be replaced.-->

<html>

<body style="margin: 0px auto 0px 0px">
    <form method="post" action="./" id="Form1" class="form1">

        <div class="page">
            <!-- Navigation bar  -->
            <div class="navbar">
                <div class="title">
                    <h4><b>.::RAPID ANALYZER::.</b> Water Conservation and Management</h4>
                </div>
                <div class="LoginLink" >

                    Welcome <span><b>Admin</b></span>!
                    [ <a id="HeadLoginView_A1" href="../Logout.aspx">Log Out</a> ]
                </div>

            </div>
            <!--  /Navigation bar  -->
           
            <router-outlet></router-outlet>
        </div>

        

    </form>
    
    <footer class="footer">

            Copyrights (c) Tsalano Business Solutions</footer>
</body>


</html>