.navbar {
    background-color: steelblue;
    color: white;
    padding-bottom: 1cm;
    width: 100%;
    margin: 0px auto 0px 0px
}

.copyright{
    text-align: center;
    color: grey;
    font-size: 4mm
}

.GreyForm {
    background-color: lightgrey;
    padding-bottom: 30%;
    padding-top: 2px;
    margin-top: 1cm  
}

a {
    color: whitesmoke;
}

.loginDisplay {
     font-size: 3mm;
 }

 .style1 {
     width: 1064px;
 }

 .mainTab {
     padding-left: 40%;
 }

 .loginTab {
     align-content: center;
     
 }