.rapidImg {
    height: 12%;
    margin-left: 20%
}

.date {
    position: absolute;
    top: 220px;
    left: 530px; 
    text-align: center;
    color: grey
}

.alarmImg {
    margin-left: 1%;
    margin-top: 1%;
}

.ActiveAlarm {
    background-color: darkslategrey;
    color: white;
    width: 12%;
    text-align: center
}