<head>
    <title>.::RAPID ANALYZER::.</title>
</head>

<body>

    <h6 class="navbar"  >

        <nav class="menu">

            <ul>

               <!--
            -->
                <li class="Dropdown"><a ><span>Daily Trends |</span></a>
                    <ul class="list">
                        <table >
                            <a href="leveltrends" > <tr ><li><span>Level Trends</span></li></tr></a>
                            <a href="volumetrendsreceived" ><tr ><li><span>Volume Trends Received</span> </li></tr></a>
                            <a href="volumetrendsconsumed" ><tr ><li><span>Volume Trends Consumed</span> </li></tr></a>
                        </table>
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Trends |</span></a>
                    <ul class="list">
                        <table >
                            <a href="monthlytrends" ><tr ><li><span>Monthly Trends</span> </li></tr></a>
                            <a href="carltonvilleflowratetrends" ><tr ><li><span>Carltonville Flow Rate Trends</span> </li></tr></a>
                            <a href="fochvilleflowratetrends" ><tr ><li><span>Fochville Flow Rate Trends</span></li></tr></a>
                           <!--  <a href="nightflowtrend" ><tr ><li><span>Night Flow Trend</span></li></tr></a>  -->
                        </table>                    
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Comparison |</span></a>
                    <ul class="list">
                        <table >
                            <a href="comparisonmonthtomonth" ><tr ><li><span>Month To Month</span></li></tr></a>
                            <a href="comparisonyeartoyear" ><tr ><li><span>Year To Year</span></li></tr></a>
                        </table>                  
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Finances |</span></a>
                    <ul class="list">
                        <table>
                         <a href="invoiceforecast" ><tr><li><span>Revenue and Invoice Forecast</span></li></tr></a> 
                        </table>                     
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Water Usage Analysis |</span></a>
                    <ul class="list">
                        <table >
                            <a href="aggregatereceivedwater" ><tr ><li><span>Aggregate Received Water</span></li></tr></a>
                            <a href="aggregateconsumedwater" ><tr ><li><span>Aggregate Consumed Water</span></li></tr></a>
                            <a href="multiyearreceivedwater" ><tr ><li><span>Multi Year Received Trends</span></li></tr></a>
                            <a href="multiyearconsumedwater" ><tr ><li><span>Multi Year Consumed Trends</span></li></tr></a>
                            <a href="yearlywaterreceived" ><tr ><li><span>Yearly Water Received</span></li> </tr></a>
                            <a href="yearlywaterconsumed" ><tr ><li><span>Yearly Water Consumed</span></li></tr></a>
                        </table>                     
                    </ul>
                </li>
                <li class="Dropdown"><a  ><span>Pump Management |</span></a>
                    <ul class="list">
                        <table>
                            <a href="pumpmanagement" ><tr><li><span>Start/Stop Pump</span></li></tr> </a>
                        </table>                          
                    </ul>
                </li>
                <li class="Dropdown"><a  ><span>Alarms |</span></a>
                    <ul class="list">
                        <table >
                            <a href="alarms" ><tr ><li><span>Alarms</span></li> </tr></a>
                            <!--  --><a href="alarmstatistics" ><tr ><li><span>Alarm Statistics</span></li></tr></a>
                        </table>                  
                    </ul>
                </li>
                <li class="Dropdown"><a  ><span>Maintenance Page |</span></a>
                    <ul class="list">
                        <table >
                            <a href="user" ><tr ><li><span>User</span></li></tr></a>
                            <a href="heartbeat" ><tr ><li><span>Heartbeat</span></li></tr></a>
                        </table>                
                    </ul>
                </li>
             <!---->   <li class="Dropdown"><a ><span>Zoning |</span></a>
                    <ul class="list">
                        <table >
                            <a href="zonalvariance" ><tr><li><span>Zonal Variance</span></li></tr></a>
                            <a href="zonalwaterdistribution" ><tr ><li><span>Zonal Water Distribution</span></li></tr></a>
                            <a href="zonalwaterconsumption" ><tr ><li><span>Zonal Water Consumption</span></li></tr></a>
                        </table> 
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Enquiries</span></a>
                  <ul class="list">
                    <table >
                        <a href="contactinfo" ><tr ><li><span>Tsalano Contact Information</span> </li></tr></a>
                        <a href="{{manualPath}}" ><tr ><li><span>User Manual</span> </li></tr></a>
                    </table>
                  </ul>
                  
                </li>                
                
            </ul>

        </nav>

    </h6>

</body>
