<head>
    <title>.::RAPID ANALYZER::.</title>
</head>

<body>

    <h6 class="navbar"  >

        <nav class="menu">

            <ul>

               <!-- <li><a href="dashboard"><span>Dash Boards</span></a>
                  <div style="background-color: slategrey;padding-bottom: 40px ">
                  <ul>
                      <li style="background-color: slategrey "><a href="carltonville"><span>Carltonville Dash Boards</span></a></li>
                  </ul> 
                  <ul>
                      <li style="background-color: slategrey "><a href="dashboard"><span>Fochville Dash Boards</span></a></li>
                  </ul> 
                  </div>   
                </li>
            -->
                <li class="Dropdown"><a ><span>Daily Trends |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="leveltrends" ><span>Level Trends</span></a></li></tr>
                            <tr ><li><a href="volumetrendsreceived" ><span>Volume Trends Received</span></a></li></tr>
                            <tr ><li><a href="volumetrendsconsumed" ><span>Volume Trends Consumed</span></a></li></tr>
                        </table>
                           <!-- <li><a href="leveltrends" ><span>Level Trends</span></a></li>
                           <p> <li><a href="volumetrendsreceived" ><span>Volume Trends Received</span></a></li> </p> 
                           <p> <li><a href="volumetrendsconsumed" ><span>Volume Trends Consumed</span></a></li> </p> -->
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Trends |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="monthlytrends" ><span>Monthly Trends</span></a></li></tr>
                            <tr ><li><a href="carltonvilleflowratetrends" ><span>Carltonville Flow Rate Trends</span></a></li></tr>
                            <tr ><li><a href="fochvilleflowratetrends" ><span>Fochville Flow Rate Trends</span></a></li></tr>
                            <tr ><li><a href="nightflowtrend" ><span>Night Flow Trend</span></a></li></tr>
                        </table>
                            <!--<li><a href="monthlytrends" ><span>Monthly Trends</span></a></li>
                           <p> <li><a href="carltonvilleflowratetrends" ><span>Carltonville Flow Rate Trends</span></a></li> </p> 
                           <p> <li><a href="fochvilleflowratetrends" ><span>Fochville Flow Rate Trends</span></a></li> </p>
                           <p> <li><a href="nightflowtrend" ><span>Night Flow Trend</span></a></li> </p> -->                      
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Comparison |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="comparisonmonthtomonth" ><span>Month To Month</span></a></li></tr>
                            <tr ><li><a href="comparisonyeartoyear" ><span>Year To Year</span></a></li></tr>
                        </table>
                           <!-- <li><a href="comparisonmonthtomonth" ><span>Month To Month</span></a></li> 
                            <p> <li><a href="comparisonyeartoyear" ><span>Year To Year</span></a></li> </p> -->                     
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Finances |</span></a>
                    <ul class="list">
                        <table>
                         <tr><li><a href="invoiceforecast" ><span>Revenue and Invoice Forecast</span></a></li></tr>  
                        </table>                     
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Water Usage Analysis |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="aggregatereceivedwater" ><span>Aggregate Received Water</span></a></li></tr>
                            <tr ><li><a href="aggregateconsumedwater" ><span>Aggregate Consumed Water</span></a></li></tr>
                            <tr ><li><a href="multiyearreceivedwater" ><span>Multi Year Received Water</span></a></li></tr>
                            <tr ><li><a href="multiyearconsumedwater" ><span>Multi Year Consumed Water</span></a></li></tr>
                            <tr ><li><a href="yearlywaterreceived" ><span>Yearly Water Received</span></a></li> </tr>
                            <tr ><li><a href="yearlywaterconsumed" ><span>Yearly Water Consumed</span></a></li></tr>
                        </table>
                           <!-- <li><a href="aggregatereceivedwater" ><span>Aggregate Received Water</span></a></li> 
                            <p> <li><a href="aggregateconsumedwater" ><span>Aggregate Consumed Water</span></a></li> </p> 
                            <p> <li><a href="multiyearreceivedwater" ><span>Multi Year Received Water</span></a></li> </p> 
                            <p> <li><a href="multiyearconsumedwater" ><span>Multi Year Consumed Water</span></a></li> </p> 
                            <p> <li><a href="yearlywaterreceived" ><span>Yearly Water Received</span></a></li> </p> 
                            <p> <li><a href="yearlywaterconsumed" ><span>Yearly Water Consumed</span></a></li> </p>  -->                      
                    </ul>
                </li>
                <li class="Dropdown"><a  ><span>Pump Management |</span></a>
                    <ul class="list">
                        <table>
                            <tr><li><a href="pumpmanagement" ><span>Start/Stop Pump</span></a></li></tr> 
                        </table>                          
                    </ul>
                </li>
                <li class="Dropdown"><a  ><span>Alarms |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="alarms" ><span>Alarms</span></a></li> </tr>
                            <tr ><li><a href="alarmstatistics" ><span>Alarm Statistics</span></a></li></tr>
                        </table>
                            <!--<li><a href="alarms" ><span>Alarms</span></a></li> 
                            <p> <li><a href="alarmstatistics" ><span>Alarm Statistics</span></a></li> </p>  -->                    
                    </ul>
                </li>
                <li class="Dropdown"><a  ><span>Maintenance Page |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="user" ><span>User</span></a></li></tr>
                            <tr ><li><a href="heartbeat" ><span>Heartbeat</span></a></li></tr>
                        </table>
                           <!-- <li><a href="user" ><span>User</span></a></li>
                            <p> <li><a href="heartbeat" ><span>Heartbeat</span></a></li> </p>     -->                   
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Zoning |</span></a>
                    <ul class="list">
                        <table >
                            <tr ><li><a href="zonalvariance" ><span>Zonal Variance</span></a></li></tr>
                            <tr ><li><a href="zonalwaterdistribution" ><span>Zonal Water Distribution</span></a></li></tr>
                            <tr ><li><a href="zonalwaterconsumption" ><span>Zonal Water Consumption</span></a></li></tr>
                        </table>
                            <!--<li><a href="zonalvariance" ><span>Zonal Variance</span></a></li>
                            <p> <li><a href="zonalwaterdistribution" ><span>Zonal Water Distribution</span></a></li> </p> 
                            <p> <li><a href="zonalwaterconsumption" ><span>Zonal Water Consumption</span></a></li> </p>                        -->
                    </ul>
                </li>
                <li class="Dropdown"><a ><span>Enquiries</span></a>
                  <ul class="list">
                    <table >
                        <tr ><li><a href="contactinfo" ><span>Tsalano Contact Information</span></a></li></tr>
                        <tr ><li><a href="usermanual" ><span>User Manual</span></a></li></tr>
                    </table>
                     <!-- <li><a href="contactinfo" ><span>Tsalano Contact Information</span></a></li>
                      <p> <li><a href="usermanual" ><span>User Manual</span></a></li> </p> -->
                  </ul>
                  
                </li>                
                
            </ul>

        </nav>

    </h6>

</body>
