*{
    margin: 0;
    padding: 0;
}

.list {
    display: none;
    position: absolute; 
}

.list table a {
    border-bottom: 1px solid black;
}

.Dropdown:hover .list {
    display: block;
    background-color: white;
    
}

.Dropdown a span:hover {
    cursor: pointer;
}

.list table a:hover {
    background-color: whitesmoke;
}


li {
    float: left;
    margin-right: 1px;
    margin: 3px;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 0px;
    line-height: 16.5px
}

span {
    padding-top: 0px;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
    color: black;
    font-size: 3mm;
    font-family: Verdana;
    position: relative;   
}



a {
    margin: 0;
    background: border-box;
    font-size: 4mm;
    color: black;
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;     
}

/*
.list table tr:hover {
    background-color: lightgrey;
    cursor: pointer; 
}

*/
a:active {
    cursor: progress;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px; 
    padding-top: 0px;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
   
}

.menu {
    width: 100%;
    overflow: auto;
    background-size: cover;
    margin-left: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar {
    padding-top: 0px;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 97%;
}

body {
    background-color: white;
    height: 0.9cm;;
    width: 100%;
   
}
