<head>
    <title>.::RAPID ANALYZER::.</title>
</head>

<body>

    <h6 class="navbar"  >

        <nav class="menu">

            <ul>

               <!-- <li><a href="dashboard"><span>Dash Boards</span></a>
                  <div style="background-color: slategrey;padding-bottom: 40px ">
                  <ul>
                      <li style="background-color: slategrey "><a href="carltonville"><span>Carltonville Dash Boards</span></a></li>
                  </ul> 
                  <ul>
                      <li style="background-color: slategrey "><a href="dashboard"><span>Fochville Dash Boards</span></a></li>
                  </ul> 
                  </div>   
                </li>
            -->
                <li class="dailyTrends"><a href="dashboard" ><span>Daily Trends |</span></a></li>
                <li class="trends"><a href="dashboard" ><span>Trends |</span></a></li>
                <li class="comparison"><a href="comparisonyeartoyear" ><span>Comparison |</span></a></li>
                <li class="finances"><a href="dashboard" ><span>Finances |</span></a></li>
                <li class="analysis"><a href="dashboard" ><span>Water Usage Analysis |</span></a></li>
                <li class="management"><a href="dashboard" ><span>Pump Management |</span></a></li>
                <li class="alarms"><a href="dashboard" ><span>Alarms |</span></a></li>
                <li class="maintenance"><a href="dashboard" ><span>Maintenance Page |</span></a></li>
                <li class="zoning"><a href="dashboard" ><span>Zoning |</span></a></li>
                <li class="enquire"><a href="dashboard" ><span>Enquiries</span></a>
                  <ul class="list">
                      <li><a href="contactinfo" ><span>Tsalano Contact Information</span></a></li>
                      
                  </ul>
                </li>                
                
            </ul>

        </nav>

    </h6>

</body>
