.mainDiv {
    width: 94%;
    height:100%;
    margin-top: 2.5%;
    margin-left: 40px;
    font-family: verdana;
}

.table1 {
    width: 95%;
    font-family: Verdana;
    border: 2px solid #465C71;
    background-color: whitesmoke;   
}

.labelText {
    width: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
    
}

.componentStyle {
    width: 181px;
    font-size: small;
}

.checkboxTable {
    font-size: small;
    margin-top: 0px;
    margin-left: 58%;
    font-family: Verdana;
    font-size: 9pt;
}

.checkboxTable input:hover {
    cursor: pointer;
}
 select:hover {
     cursor: pointer;
 }


/*{

#NavigationMenu img.icon {
    border-style: none;
    vertical-align: middle;
}

#NavigationMenu img.separator {
    border-style: none;
    display: block;
}

#NavigationMenu img.horizontal-separator {
    border-style: none;
    vertical-align: middle;
}

#NavigationMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#NavigationMenu ul.dynamic {
    z-index: 1;
}

#NavigationMenu a {
    text-decoration: none;
    white-space: nowrap;
    display: block;
}

#NavigationMenu a.static {
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

#NavigationMenu a.popout-dynamic {
    background: url("/WebResource.axd?d=86UR9eAk9d-4-x6ORms8nV_KyBYSieIVbZEBvM1W9ChKrc6LhdVCW29qHe_84pqYWwCv0mvsG4R2e02zxmusVml9VteNJqN0PiI25rBYr3c1&t=636765208020000000") no-repeat right center;
    padding-right: 14px;
}
}  */
.titlerow {
    color:Gray;
    background-color:#DDE4EC;
    font-weight:bold;
    text-align: left;
}

.titlerow td {
    margin-left: 10%;
    text-align: center
}

.tableBlock {
    font-family:Verdana;
    font-size: 9pt;
}

.tableBlock tbody tr {
    width: 100%;
    border-collapse:collapse;
    text-align: left;
    margin-left: 5%;
    font-size: 10pt;    
}




.btnSave {
    font-family:Verdana;
    font-size:8pt;
    color: whitesmoke;
    background-color: red;
    height: 0.67cm;
    border: 1px ridge white;
    text-align: right;
    border-radius: 6px;
    outline: transparent;
}
/*
.btnSave:hover {
    
    font-weight: lighter;
    background-color: rgba(255, 0, 0, 0.493);
    border: 1px ridge white;
    outline: transparent;
}
*/
.btnSave:active {
    
    border-style: unset;
    background-color:  rgba(255, 0, 0, 0.493);
    color: black;
    border-radius: 8px;
    outline: transparent;
}

.btnClear {
    font-family:Verdana;
    font-size:8pt;
    color: whitesmoke;
    background-color: red;
    height: 0.67cm;
    border: 1px ridge white;
    text-align: right;
    border-radius: 6px;
    outline: transparent;
}
/*
.btnClear:hover {
    font-weight: lighter;
    background-color: rgba(255, 0, 0, 0.493);
    border: 1px ridge white;
    outline: transparent;
}
*/
.btnClear:active {
    border-style: unset;
    background-color:  rgba(255, 0, 0, 0.493);
    color: black;
    border-radius: 8px;
    outline: transparent;
}

.pageHeading {
    margin-left: 40px;
    margin-top: 2.5%;
    color: steelblue;
    font-family: Verdana;
}

