.heartbeatImg {
    width: 30%;
    height: 30%;
    margin-top: 1.5%;
    margin-left: 32%;

}

table {
    margin-left: 42px;
    width: 88%;
}

.titlerow {
    background-color: slategrey;
    text-align: center;
    font-weight: bold;
    color:lightgrey;
    font-family:Verdana;

}

.titlerow td {
    padding: 2%;
    padding-left: 1.3%;
}
