<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
  <app-nav-bar></app-nav-bar>
  <h6 class="pageHeading"><b>Maintenance Page: Heartbeat</b></h6>



<div *ngIf="visible" >

  <div>
    <img src="{{heartbeatPath}}" class="heartbeatImg">
  </div>

  <table class="heartTable" cellpadding="0" cellspacing="0">
    <tr class="titlerow">
      <th>SITE</th>
      <th>CONNECTION STATUS</th>
      <th>LAST CONNECTION DATE</th>
      <th>BATTERY STATUS</th>
      <th>ELECTRICITY STATUS</th>
      <th>LENGEND</th>
    </tr>
    <tr *ngFor="let heartbeat of heartbeats">
      <td>{{ heartbeat.Name }}</td>
      <td>{{ heartbeat.GPRSConnected }}</td>
      <td>{{ heartbeat.LastRXTimestamp }}</td>
      <td>{{ heartbeat.Battery }}</td>
      <td>{{ heartbeat.Counter8 }}</td>
      <td> <img src="{{ heartbeat.Legend }}" style="height: 15%;"> </td>
    </tr>
  </table>

</div>

</body>


<!--




-->
