<head>

  <title>.::RAPID ANALYZER::.</title>

</head>

<body>
    <app-nav-bar></app-nav-bar>
    <h6 class="pageHeading"><b>Comparison: Year To Year</b></h6>
<table class="table1" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="background-color:#ECE9D8;">
      <td style="width: 25%; display: none;"></td>
      <td style="width: 6px; display: none;"></td>
      <td style="width:100%;"></td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="myDiv" >
          <div>
       <table class="table2" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td style="width: 100%;height: 100%">
                    
                    <table>
                      <tbody>
                        
                        <!-- Compalsary row-->
                   
                        <tr isparameterrow="true" >
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select Province:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div >
                                <select class="ddlprovince" id="ddlprovince">
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">All</option>
                                 </select>
                              </div>
                            </td>
                            
                        </tr>
                        <tr isparameterrow="true" >
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select District or Metropolitan Municipality:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddldistrict" id="ddldistrict" >
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">All</option>
  
                                </select>
                              </div>
                            </td>
                        </tr>
                        <tr isparameterrow="true" >
                            <td style="padding:5px; "><span style="font-family:Verdana;font-size:8pt;">Select Local Municipality:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div>
                                <select class="ddlmunicipality" id="ddlmunicipality">                                  
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">All</option>
                                </select>
                              </div>
                            </td>
                        </tr>
                        
                        <tr isparameterrow="true" >
                            <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select Site:</span></td>
                            <td style="padding:5px;padding-right:0px;">
                              <div >
                                <select class="ddlSite" id="ddlSite">
                                  <option selected="selected" value="0">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                  <option value="1">All</option>
  
                                </select>
                              </div>
                            </td>
                        </tr>
                        <!--line space--> <div  style="margin-bottom: 22px">
                        <tr isparameterrow="true" >
                        </tr>
                        </div>
                                              
                        <!-- /Compalsary row -->
                        <tr isparameterrow="true" >  
                          <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Select Comparison
                              Year 1:</span></td>
                          <td style="padding:5px;padding-right:0px;">
                            <div >
                              <select class="ddlYear1" id="ddlYear1" required>
                                <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                                <option value="0">2019</option>
                                <option value="1">2018</option>
                                <option value="2">2017</option>
                                <option value="3">2016</option>
                                <option value="4">2015</option>
                                <option value="5">2014</option>
                              </select>
                            </div>
                          </td>
                          <td width="20"></td>
                          <td style="padding:5px;"><span style="font-family:Verdana;font-size:8pt;">Please Select
                            Comparison Year 2:</span></td>
                        <td style="padding:5px;padding-right:0px;">
                          <div>
                            <select class="ddlYear2" id="ddlYear2" required>
                              <option selected="selected" value="">&lt;Select&nbsp;a&nbsp;Value&gt;</option>
                              <option value="0">2019</option>
                              <option value="1">2018</option>
                              <option value="2">2017</option>
                              <option value="3">2016</option>
                              <option value="4">2015</option>
                              <option value="5">2014</option>
                            </select>
                          </div>
                        </td>
                          <td ></td>                                              
                          
                        </tr>
                        <tr isparameterrow="true" >
                        
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  
     
                </tr>
                <!--line space--> <div  style="margin-bottom: 4%" >
                  <tr isparameterrow="true" >
                  </tr>
                  </div>
                <tr style="margin-top: 1px;padding-bottom: 1px">
                    <td class="cellbutton">
                      <table>
                          <tbody>
                            <tr>
                              <td><input type="submit" class="btnreport" id="btnreport" value="View Report" (click)="viewReport()"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height:6px;font-size:2pt;">
        <td class="cellblock" colspan="3">
          <div>
            <input type="hidden"><input type="hidden" value="false">
           </div>
        </td>
      </tr>
    <tr style="display:none;"></tr>
    <tr>
      <td style="width: 25%; height: 100%; vertical-align: top; display: none;">
        <div style="width:100%;height:100%;">
          <span>
            <div style="display:none;">
              <input type="hidden">
            </div>
          </span>
        </div>
      </td>
      <td style="margin: 0px; padding: 0px; width: 4px; height: 100%; vertical-align: middle; display: none; background-color: rgb(236, 233, 216);">
        <div>
          <input type="hidden"><input type="hidden" value="false">
        </div>
      </td>
      <td style="height: 100%; vertical-align: top;">
        <div style="height:100%;width:100%;overflow:auto;position:relative;">
          <div style="height:100%;display:none;"></div>
          <div>
            <div style="visibility:none;" fornonreportcontentarea="false" newcontenttype="Microsoft.Reporting.WebFormsClient.ReportAreaContent.None">
              <input type="hidden" value="None">
            </div><input type="hidden"><span></span>
            <div style="display:none;">
              <span></span><input type="hidden"><input type="hidden"><input type="hidden" value="100">
            </div>
            <div style="width: 100%; height: 100%; display: none;">

            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="dataForm" *ngIf="test">
        <h6 class="header"><b>Year To Year Comparison</b></h6>
        <p style="text-align: center; font-weight: bold">Today's Date: {{ currentDate | date: "dd/MM/yyyy h:mm:ss a" }}</p>
  
        <div style="margin-left: 24%">
            <h6 class="subHeader">Comparison Year 1</h6>
            <table class="tableYear" id="tableYear" border="1" width="70%" rules="all" cellspacing="0">
              <tr class="titleRow">
                <td>Year</td>
                <td>Water Received</td>
                <td>Water Consumed</td>
                <td>Utilization Percentage</td>
              </tr>
              <tr>
                  <td>{{year1}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
            </table>
      
            <h6 class="subHeader">Comparison Year 2</h6>
            <table class="tableYear" id="tableYear" border="1" width="70%" rules="all" cellspacing="0">
              <tr class="titleRow">
                <td>Year</td>
                <td>Water Received</td>
                <td>Water Consumed</td>
                <td>Utilization Percentage</td>
              </tr>
              <tr>
                  <td>{{year2}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
            </table>
  
            <h6 class="subHeader" style="text-align: center; padding-bottom: 2%; ">Variances</h6>
            <table>
              <tbody>
                <tr style="border-bottom: 1px solid white">
                  <td>Water Received: </td>
                  <td style="text-align: center; background-color: lightgrey">%</td>
                </tr>
                <tr>
                  <td>Water Consumed: </td>
                  <td style="text-align: center; background-color: lightgrey;">%</td>
                </tr>
              </tbody>
            </table>
  
        </div>
      </tr>
  </tbody>
</table>

</body>

<!--
  <input name="ctl00$MainContent$ReportViewer1$ToggleParam$img" title="Show / Hide Parameters" align="middle"
            id="ctl00_MainContent_ReportViewer1_ToggleParam_img" style="cursor:pointer;" onclick="void(0);" type="image"
            alt="Show / Hide Parameters">
<input title="Show / Hide Document Map" align="top" style="cursor:pointer;" onclick="void(0);" type="image"
            alt="Show / Hide Document Map">
src="/Reserved.ReportViewerWebControl.axd?OpType=Resource&amp;Version=10.0.30319.1&amp;Name=Microsoft.Reporting.WebForms.Icons.SplitterVertCollapse.png"
src="/Reserved.ReportViewerWebControl.axd?OpType=Resource&amp;Version=10.0.30319.1&amp;Name=Microsoft.Reporting.WebForms.Icons.SplitterHorizCollapse.png"

  -->